{{ partial "header.html" . }}
        {{ range .Data.Pages }}
        <article class="post">
        <header>
          <a class="post-title" href="{{ .RelPermalink }}">{{ .Title }}</a>
          <p class="post-subtitle">{{ .Date.Format "Monday, January 2, 2006" }}</p>
        </header>
        <section>
          {{ .Summary }}
          <a class="post-readmore" href="{{ .RelPermalink }}">Read More</a>
        <section>
      </article>
        {{ end }}
{{ partial "footer.html" . }}