/* Base Style */

body {
		margin-left: 6%;
		width: 88%;
}
@media (min-width: 768px) {
	body {
		margin-left: 8.3333333%;
		width: 83.3333333%;
	}
}
@media(min-width: 992px) {
	body {
		margin-left: 16.6666666%;
		width: 66.6666666%;
	}
}
@media(min-width: 1400px) {
	body {
		margin-left: 28%;
		width: 44%;
	}
}

body {
	font-family: sans-serif;
	line-height: 1.5;
}
th {
	padding: 0.5em;
}
a {
	color: #0096cc;
}
a:hover {
	color: #007199;
}

/* Header */

body > header {
	line-height: 3rem;
	margin-top: 2rem;
	margin-bottom: 2rem;
}

header > nav {
	float: right;
}

.title {
	font-size: 2rem;
	font-family: sans-serif;
	font-weight: bold;
    text-decoration: none;
	color: #668baf;
	margin-right: 2rem;
}
.title:active {
    text-decoration: underline;
    color: #4f6f8e;
}

.top-link {
	font-size: 1.2rem;
	font-family: sans-serif;
    text-decoration: none;
	color: #474747;
	margin-right: 1rem;
}
.top-link:active {
    text-decoration: underline;
}

/* Post */

.post {
	margin-bottom: 2rem;
	font-size: 1.1rem;
}

.post-title {
    text-decoration: none;
	font-weight: bold;
	font-size: 2rem;
	color: black;
}
.post-title:active {
    text-decoration: underline;
	color: #34495e;
}

.post-subtitle {
	margin: 0 auto;
	font-size: 1.15rem;
	font-style: italic;
	color: #606060;
}
